
main {
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 100vh; 
  padding: 2rem 1rem;
  background-color: var(--color-background);
  flex-direction: column; 
}

.feed-container {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 80px; 
}

.post-visible {
    border-color: var(--color-accent) !important;
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(118, 74, 188, 0.5);
    z-index: 10;
    transition: all 0.5s ease-in-out;
}

#intro-section h1 {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
  color: var(--color-text-primary);
}

#intro-section p {
  font-size: 1.1rem;
  color: var(--color-text-subtle);
}

#page-navigation {
  display: flex;
  gap: 1.5rem;
}

#page-navigation a {
  display: inline-block;
  padding: 12px 28px;
  border: 1px solid var(--color-accent);
  border-radius: 5px;
  background-color: transparent;
  color: var(--color-text-secondary);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#page-navigation a:hover {
  background-color: var(--color-accent);
  color: var(--color-text-primary);
}
