main {
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
  
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#intro-section h1 {
  font-size: clamp(2rem, 5vw, 2.8rem);
  margin-bottom: 0.5rem;
  color: var(--color-text-primary);
}

#intro-section p {
  font-size: clamp(1rem, 2vw, 1.1rem);
  color: var(--color-text-subtle);
}

#page-navigation {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

#page-navigation a {
  display: inline-block;
  padding: 12px 28px;
  border: 1px solid var(--color-accent);
  border-radius: 5px;
  background-color: transparent;
  color: var(--color-text-secondary);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
  flex-grow: 1;
  min-width: 150px;
}

#page-navigation a:hover {
  background-color: var(--color-accent);
  color: var(--color-text-primary);
}

@media (max-width: 600px) {
  #page-navigation {
    flex-direction: column;
    width: 85%;
  }

  #page-navigation a {
    width: 100%;
    box-sizing: border-box;
  }
}