main {
  margin: 0 auto; 
  max-width: 1500px;
  padding: 20px min(5%, 100px); 
}

main h1 {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
  color: var(--color-text-primary);
}

#intro-section p {
  text-align: center;
  font-size: 1.1rem;
  color: var(--color-text-subtle);
}

label {
  font-weight: bold;
  font-size: 1.8rem;
  color: var(--color-text-primary);
  margin-top: 2rem;
  display: block;
}


#feedback-subject,
#feedback-body {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  padding: 20px 20px;
  border: 1px solid var(--color-text-subtle);
  border-radius: 5px;
  background-color: transparent;
  color: var(--color-text-subtle);
  font-size: 1rem;
  font-family: var(--font-family-sans);
  box-sizing: border-box;
}


#feedback-body {
    min-height: 150px; 
    resize: vertical; 
}


#feedback-subject:focus,
#feedback-body:focus {
    border-color: var(--color-accent, blue);
    outline: none; 
   
    
}