main {
  padding: 20px 100px;
  max-width: 1500px;
  align-self: center;
}

main h1 {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
  color: var(--color-text-primary);
}

img {
  width: 105%;
  height: 105%;
  margin: -5px;
  object-fit: cover;
  cursor: pointer;
}

.imageContainer{
  width: 480px;
  max-height: 480px;
  margin: -5px;
  overflow: hidden;
}

.expandedImage {
  position: fixed;
  top: 10vh;
  left: 10vw;
  z-index: 1000;
  height: 80vh;
  width: 80vw;
  object-fit: contain;
  /* TODO transition */
}

.post {
  background-color: var(--color-background-secondary);
  border: 1px solid var(--color-accent);
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  width: 500px;
}

.post > * {
  margin-bottom: 10px;
}

.blur {
  filter: blur(5px);
}

.heavyBlur {
  filter: blur(20px);
}

.hideContent {
  overflow: hidden;
  max-height: 4em;
  /* TODO transition */
}

.showContent {
  max-height: 10000px;
  /* TODO transition */
}

.post_interacoes {
  margin-top: 20px;
}

.interacao {
  border: 1px solid var(--color-accent);
  border-radius: 8px;
  margin: 0px 5px;
  padding: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.interacao:hover {
  background-color: var(--color-accent);
  cursor: pointer;
}

#botao_resultado {
    margin: 15px auto 130px auto;
    display: block;
}